server:
  port: 8080

spring:
  application:
    name: gateway

  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            cors-configurations:
              '[/**]':
                allowed-origins: 'http://localhost:5173,http://localhost:3000'
                allowed-methods: '*'
                allowed-headers: '*'
                allow-credentials: true
      routes:
        - id: recursos
          uri: http://recursos:8081
          predicates:
            - Path=/api/recursos/**
          filters:
            - StripPrefix=1

        - id: solicitudes
          uri: http://solicitudes:8082
          predicates:
            - Path=/api/solicitudes/**
          filters:
            - StripPrefix=1

        - id: logistica
          uri: http://logistica:8083
          predicates:
            - Path=/api/logistica/**
          filters:
            - StripPrefix=1

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/tpi-backend

management:
  endpoints:
    web:
      exposure:
        include: health,info
