spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/tpi-backend

logging:
  level:
    org.springframework.cloud.gateway: INFO
    org.springframework.security: INFO
